@import "tailwindcss";

#right::-webkit-scrollbar {
  display: none;
}

.scroll-track {
  animation: premiumScroll 40s cubic-bezier(0.22, 1, 0.36, 1) infinite;
}

@keyframes premiumScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .scroll-track {
    animation-duration: 60s;
  }
}